*{
    font-family: "Poppins", sans-serif;
}
.btn-enquire{
    border-radius: 60px;
}

.btn-register{
    border-radius: 60px;
    background-color: rgb(143, 26, 185);
    border: none;
}

.left{
    height: 100vh;
    width: 100%;
    
}
.left-header{
    background-color: lightgray;
    width: 100%;
    padding-left: 100px;
}

.navbar{
    font-size: 14px;
    background-color: white;
    border-bottom:1px solid lightgrey;
    
}

.left-body{
    padding-left: 100px;
}

.course_image{
    width: 100%;
    height: 200px;
   
}

.checkbox{
    height: 100vh;
}